RewriteEngine On
RewriteBase /
RewriteRule ^admin(/(.*))?$ admin/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# Set PHP version (adjust based on your server)
AddHandler application/x-httpd-php80 .php